.container {
  width: 1920px;
  outline: auto;
}

.header .container {
  display: flex;
  padding-left: 170px;
  padding-right: 213px;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.notification-list {
  display: flex;
}

.logo-wrapper {
  position: relative;
}

.logo-item {
  margin-top: 9px;
  width: 74.22px;
  height: 74.22px;
  top: 73.28px;
}

.logo-text {
  position: absolute;
  width: 91px;
  height: 53px;
  top: 59px;
}

.navigation-list .li:not(:last-child) {
  margin-right: 20px;
}

.navigation-list .a {
  font-weight: 500px;
  font-size: 25px;
  line-height: 1.34;
  padding: 67px 14px 8px 14px;
  display: block;
  color: black;
}

.navigation-list .a:hover {
  background-color: #a3c1ef;
  color: #ffffff;
  border-radius: 5px;
}

.btn-list {
  display: flex;
  align-items: center;
}

.btn-list .li:not(:last-child) {
  padding-right: 72px;
}

.btn-list button {
  border: none;
  background: transparent;
}

.btn-list .appointment {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #99baed;
  padding: 23px 32px;
  border-radius: 20px;
  border: none;
  opacity: 0.9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-list {
  padding-top: 46px;
}
